<section class="blog">
  <div class="container blog__container">
    <h2 class="blog__title">Статьи</h2>
    <div class="blog__desc">о моде и все, что рядом</div>
    <hr class="blog__line">
    <div class="blog__wrapper">
      <ul class="blog__list list-reset">
        <li class="blog__item">
          <article class="blog__article">
            <div class="blog__article--top">
              <img src="./img/the-north-face.jpg" alt="" class="blog__article--image">
            </div>
            <div class="blog__article--bottom">
              <h3 class="blog__article--title">Новое для похода.</h3>
              <a href="#" class="blog__article--link">Читать ещё ...</a>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog__article">
            <div class="blog__article--top">
              <img src="./img/mcarthur_280x280a.jpg" alt="" class="blog__article--image">
            </div>
            <div class="blog__article--bottom">
              <h3 class="blog__article--title">Новые тренды</h3>
              <a href="#" class="blog__article--link">Читать ещё ...</a>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
