<section class="hero">
  <div class="hero__container">
    <div class="hero__brands brands">
      <div class="brands__wrapper">
        <div class="brands__block">
          <a href="#" class="brands__link">
            <img src="./img/brands/loghi-armani.png" alt="Brand adidas" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/adidas-bw-logo.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/bimbaylola.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/black-logo.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/boss_logo_black_rgb.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/calvinklein2020.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/carolina-herrera-logo-bw.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/ecoalf.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/furla-logo.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/guess-bw-logo.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/hackett_medium_logo_black.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/loghi-armani.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/logo_zenga.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/maje-paris.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/moncler.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/philipp-plein.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/polo.png" alt="Brand" class="brands__imag">
          </a>
        </div>
        <div class="brands__block">
          <a href="#" class="brands__link">
            <img src="./img/brands/loghi-armani.png" alt="Brand adidas" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/adidas-bw-logo.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/bimbaylola.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/black-logo.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/boss_logo_black_rgb.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/calvinklein2020.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/carolina-herrera-logo-bw.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/ecoalf.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/furla-logo.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/guess-bw-logo.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/hackett_medium_logo_black.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/loghi-armani.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/logo_zenga.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/maje-paris.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/moncler.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/philipp-plein.png" alt="Brand" class="brands__imag">
          </a>
          <a href="#" class="brands__link">
            <img src="./img/brands/polo.png" alt="Brand" class="brands__imag">
          </a>
        </div>
      </div>
    </div>
    <div class="hero__carousell">
      <div class="hero__siema siema">
        <div class="siema__wrapper">
          <div class="siema__slide">
            <picture>
              <source srcset="./img/hero-bg-1.webp" type="image/webp">
              <img loading="lazy" src="./img/hero-bg-1.jpg" class="image" width="" height="" alt="">
            </picture>
          </div>
          <div class="siema__slide">
            <video class="siema__video" id="video" src="./iso-republic.mp4" autoplay preload="auto" playsinline loop
              muted>
              <p>Your browser doesn't support HTML5 video. Please download a modern browser to use this site.</p>
            </video>
            <audio class="siema__audio" src="./epic-shield.mp3" autoplay loop></audio>
            <div class="container siema__content">
              <h2 class="siema__title">SUMMER SALE</h2>
              <span class="siema__desc">Enjoy Summer with additional discounts until 20 August</span>
              <hr class="siema__line"></hr>
              <a href="#" class="siema__link">READ MORE</a>
            </div>
          </div>
          <div class="siema__slide">
            <picture>
              <source srcset="./img/hero-bg-4.webp" type="image/webp">
              <img loading="lazy" src="./img/hero-bg-4.jpg" class="image" width="" height="" alt="">
            </picture>
          </div>
          <div class="siema__slide">
            <picture>
              <source srcset="./img/hero-bg-3.webp" type="image/webp">
              <img loading="lazy" src="./img/hero-bg-3.jpg" class="image" width="" height="" alt="">
            </picture>
          </div>
        </div>
        <div class="siema__controls controls">
          <div class="siema__controls--wrapper">
            <div class="siema__pagination">
              <button class="siema__btn siema__btn0">0</button>
              <button class="siema__btn siema__btn1 active">1</button>
              <button class="siema__btn siema__btn2">2</button>
              <button class="siema__btn siema__btn3">3</button>
            </div>
            <button id="audio-control" class="siema__audio-control active btn-reset" aria-label="toggle audio">
              <img class="siema__audio-icon" alt="audio icon" aria-hidden="true" src="/img/sound-on.svg">
            </button>
            <button class="siema__btn-play" id="btn-play" aria-label="toggle carousel autoplay"></button>
            <div class="siema__arrows">
              <button class="siema__is-showing siema__left-chevron btn-reset" aria-label="previous image">
              </button>
              <button class="siema__is-showing btn-reset siema__right-chevron" aria-label="next image">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
