<section class="new-brands">
  <div class="container new-brands__container">
    <div class="new-brands__left">
      <div class="new-brands__content">
        <h2 class="new-brands__title">New brands</h2>
        <span class="new-brands__desc">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ipLorem
          ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ip</span>
        <a href="#" class="new-brands__link">Смотреть коллекцию</a>
      </div>
    </div>
    <div class="new-brands__right">
      <div class="new-brands__right-block">
        <a href="#" class="new-brands__right--wrapper">
          <span class="new-brands__right--link">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem
            ip</span>
        </a></div>
    </div>
  </div>
</section>
