<section class="our-brands">
  <div class="container our-brands__container">
    <div class="our-brands__text-content">
      <h3 class="our-brands__title">Explore</h3>
      <span class="our-brands__desc">Our Brands</span>
      <hr class="our-brands__line">
    </div>


    <div class="our-brands__siema-arrows">
      <button type="button" class="our-brands__prev our-brands__btn btn-reset">
        <span aria-label="previous image" class="mag-font mag-font_left_chevron"></span>
      </button>
      <button type="button" class="our-brands__next our-brands__btn btn-reset">
        <span aria-label="next image" class="mag-font mag-font_right_chevron"></span>
      </button>
    </div>

    <div class="our-brands__slider siema">
      <div class="slide our-brands__slide">
        <a class="our-brands__slider-link" href="#" title="CH Carolina Herrera">
          <div class="our-brands__card-logo">
            <img class="img-fluid" aria-hidden="true" alt="Brand logo for CH Carolina Herrera"
              src="./img/brands/carolina-herrera-logo-bw.png">
          </div>
          <div class="our-brands__card-conten">
            <div class="our-brands__card-conten--center">
              <span class="our-brands__brand-name">CH Carolina Herrera</span>
            </div>
          </div>
        </a>
      </div>
      <div class="slide our-brands__slide">
        <a class="our-brands__slider-link" href="#" title="CH Carolina Herrera">
          <div class="our-brands__card-logo">
            <img class="img-fluid" aria-hidden="true" alt="Brand logo for CH Carolina Herrera"
              src="./img/brands/moncler.png">
          </div>
          <div class="our-brands__card-conten">
            <div class="our-brands__card-conten--center">
              <span class="our-brands__brand-name">Moncler</span>
            </div>
          </div>
        </a>
      </div>
      <div class="slide our-brands__slide">
        <a class="our-brands__slider-link" href="#" title="CH Carolina Herrera">
          <div class="our-brands__card-logo">
            <img class="img-fluid" aria-hidden="true" alt="Brand logo for CH Carolina Herrera"
              src="./img/brands/polo.png">
          </div>
          <div class="our-brands__card-conten">
            <div class="our-brands__card-conten--center">
              <span class="our-brands__brand-name">Polo Ralph Lauren</span>
            </div>
          </div>
        </a>
      </div>
      <div class="slide our-brands__slide">
        <a class="our-brands__slider-link" href="#" title="CH Carolina Herrera">
          <div class="our-brands__card-logo">
            <img class="img-fluid" aria-hidden="true" alt="Brand logo for CH Carolina Herrera"
              src="./img/brands/prada-bw-logo.jpeg">
          </div>
          <div class="our-brands__card-conten">
            <div class="our-brands__card-conten--center">
              <span class="our-brands__brand-name">Prada</span>
            </div>
          </div>
        </a>
      </div>
      <div class="slide our-brands__slide">
        <a class="our-brands__slider-link" href="#" title="CH Carolina Herrera">
          <div class="our-brands__card-logo">
            <img class="img-fluid" aria-hidden="true" alt="Brand logo for CH Carolina Herrera"
              src="./img/brands/boss_logo_black_rgb.png">
          </div>
          <div class="our-brands__card-conten">
            <div class="our-brands__card-conten--center">
              <span class="our-brands__brand-name">Boss</span>
            </div>
          </div>
        </a>
      </div>
      <div class="slide our-brands__slide">
        <a class="our-brands__slider-link" href="#" title="CH Carolina Herrera">
          <div class="our-brands__card-logo">
            <img class="img-fluid" aria-hidden="true" alt="Brand logo for CH Carolina Herrera"
              src="./img/brands/logo_zenga.png">
          </div>
          <div class="our-brands__card-conten">
            <div class="our-brands__card-conten--center">
              <span class="our-brands__brand-name">Zegna</span>
            </div>
          </div>
        </a>
      </div>
      <div class="slide our-brands__slide">
        <a class="our-brands__slider-link" href="#" title="CH Carolina Herrera">
          <div class="our-brands__card-logo">
            <img class="img-fluid" aria-hidden="true" alt="Brand logo for CH Carolina Herrera"
              src="./img/brands/karl-lagerfeld-bw-logo.jpeg">
          </div>
          <div class="our-brands__card-conten">
            <div class="our-brands__card-conten--center">
              <span class="our-brands__brand-name">Karl Lagerfeld</span>
            </div>
          </div>
        </a>
      </div>
    </div>



    <div class="our-brands__bottom">
      <a href="#" class="our-brands__bottom-link">See all brands</a>
    </div>

  </div>


</section>
