<section class="promotions">
  <div class="container promotions__container">
    <div class="promotions__title">Узнайте</div>
    <div class="promotions__desc">О лучших акциях</div>
    <hr class="promotions__line">
    <div class="promotions__wrapper">
      <ul class="promotions__list list-reset">
        <li class="promotions__item">
          <articl class="promotions__articl promotions__articl1">
            <h3 class="promotions__articl--title">Armani</h3>
            <span class="promotions__articl--desc">Скидка до 60%</span>
            <a href="#" class="promotions__articl--link">Узнать больше.</a>
          </articl>
        </li>
        <li class="promotions__item">
          <articl class="promotions__articl promotions__articl2">
            <h3 class="promotions__articl--title">Maccartni</h3>
            <span class="promotions__articl--desc">Скидка до 50%</span>
            <a href="#" class="promotions__articl--link">Узнать больше.</a>
          </articl>
        </li>
        <li class="promotions__item">
          <articl class="promotions__articl promotions__articl3">
            <h3 class="promotions__articl--title">Gant</h3>
            <span class="promotions__articl--desc">Скидка до 65%</span>
            <a href="#" class="promotions__articl--link">Узнать больше.</a>
          </articl>
        </li>
      </ul>
    </div>
  </div>
</section>
